<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Employee Listings</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
  </section>
</nav>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>First name</th>
      <th>Surname</th>
      <th>Security pin</th>
      <th>Mobile number</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_number %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.surname %></td>
        <td><%= employee.security_pin %></td>
        <td><%= employee.mobile_number %></td>
        <td><%= employee.monday_shift %></td>
        <td><%= employee.tuesday_shift %></td>
        <td><%= employee.wednesday_shift %></td>
        <td><%= employee.thursday_shift %></td>
        <td><%= employee.friday_shift %></td>
        <td><%= employee.saturday_shift %></td>
        <td><%= employee.sunday_shift %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5><center><%= link_to 'Create New Employee', new_employee_path, {style: "color: blue"} %></center></h5>
