<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient name:</strong>
  <%= @absence_blaster.recipient_name %>
</p>

<p>
  <strong>Recipient number:</strong>
  <%= @absence_blaster.recipient_number %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @absence_blaster.shift %>
</p>

<p>
  <strong>Access code:</strong>
  <%= @absence_blaster.access_code %>
</p>

<p>
  <strong>Absence:</strong>
  <%= @absence_blaster.absence %>
</p>

<%= link_to 'Edit', edit_absence_blaster_path(@absence_blaster) %> |
<%= link_to 'Back', absence_blasters_path %>
